# --- Azure Functions runtime ---
azure-functions
# --- Azure SDKs ---
azure-storage-blob
azure-cosmos
azure-search-documents
azure-identity
azure-core
# --- LangChain ---
langchain
langchain-core
langchain-communit
langchain-text-splitters

# --- Hugging Face ---
huggingface-hub

# --- Utilidades ---
python-dotenv
requests