azure-functions
azure-storage-blob
azure-cosmos
langchain
langchain-core
langchain-community
#langchain-huggingface
#sentence-transformers
#transformers
#torch --index-url https://download.pytorch.org/whl/cpu
azure-search-documents
azure-identity